:root {
    display: flex;
    flex-direction: column;
    align-items: center;
    --default-color: #000000;
    --font: Verdana, sans-serif;
    --card-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    --link-color: #0072ff;
    --link-color-hover: #4498ff;
}

body {
  width: 800px;
  font-size: 16px;
  font-family: var(--font);
  background: #f5f5f5;
}
.top {
    margin: 5px 0 20px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--card-shadow);
    position: sticky;
    top: 0;
}
.index-btn {
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
    border-radius: 4px;
}
.index-btn:hover {
    background-color: #f5f5f5;
}
input {
    font-family: var(--font);
}
a {
    color: var(--link-color);
}
a:hover {
    color: var(--link-color-hover);
}
a.link-block {
    display: block;
    margin: 2px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #1c8cb7;
    font-weight: normal;
}
pre {
    background-color: #f5f5f5;
    padding: 15px 10px !important;
    border-radius: 5px;
    font-size: 16px !important;
    line-height: 22px !important;
    display: flex;
}
pre:last-child {
    margin-bottom: 0;
}
code {
    font-size: 16px !important;
}
table td {
    padding: 5px 0;
}
/* Search */
.search {
    position: relative;
    flex: 1;
}
.search input {
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 10px 10px 10px 38px;
    box-sizing: border-box;
}
.search input:focus {
    border-color: #1c8cb7;
    outline: none;
}
.search input::placeholder {
    font-family: var(--font);
}
#search__drop {
    display: none;
    position: absolute;
    top: 100%;
    max-height: 400px;
    overflow: auto;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    box-sizing: border-box;
}
#search__drop mark {
    background-color: #ffe3af;
}
.search__res {
    cursor: pointer;
    padding: 3px 5px;
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 3px;
}
.search__res:hover {
    background-color: #f5f5f5;
}
.search svg {
    position: absolute;
    left: 10px;
    top: 10px;
}
.search svg > * {
    stroke: grey;
}
/* End Search */
/* Sections */
/* End Sections */
/* Nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.nav-btn {
    cursor: pointer;
    padding: 8px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    background-color: white;
}
.nav-btn:not(.disabled):hover {
    background: whitesmoke;
}
.nav-btn > svg {
    min-width: 14px;
}
.nav__prev {
    margin-right: 20px;
}
.nav__next {
    margin-left: 20px;
}
.nav__prev > svg, .nav__up > svg {
    margin-right: 10px;
}
.nav__next > svg {
    margin-left: 10px;
}
.nav-btn.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}
/* End Nav */

/* Sections & Headers */
div.section {
    background-color: white;
    margin: 20px 0 20px 0;
    padding: 15px;
    box-shadow: var(--card-shadow);
    border-radius: 5px;
}
div.section__header {
    color: #1c8cb7;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
div.section__header:empty {
    display: none;
}
div.section h4, h3 {
    color: #1c8cb7;
    font-size: 1.2rem;
    margin-bottom: 20px
}
div.section h4:first-child, 
div.section h3:first-child, 
div.section h2:first-child,
div.section h1:first-child,
div.section table:first-child
 {
    margin-top: 0;
}
.section.top-most {
    margin: 30px 0 30px 0;
    padding: 20px;
}
.section.top-most h4, 
.section.top-most h3,
.section.top-most h2,
.section.top-most h1 {
    font-size: 1.6rem;
    color: var(--default-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
h3.section {
    margin-bottom: 20px !important;
}
h2.chapter {
    margin-bottom: 20px !important;
}
.node-type:not(:empty) {
    font-size: 1rem;
    margin-bottom: 3px;
}
.menu-comment {
    color: #1c8cb7;
    border: none;
    padding: 0 !important;
    background-color: transparent;
    font-family: var(--font);
    font-size: 18px !important;
    font-weight: bold;
}
h1.main {
    color: #1c8cb7 !important;
}
/* End Sections & Headers */
/* Tables */
table td {
    padding: 3px 0;
}
table.menu {
    margin-top: 20px;
}
table:not(.menu) {
    width: 100%;
}
.table-subcaption {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 0.8rem;
}
/* End Tables */
/* First Card on index.html */
.main-sub {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
.main-sub a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 3px;
}
.main-sub a:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}
/* End First Card on index.html */