:root {
    --font: Verdana, sans-serif;
    --card-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

body {
  font-size: 16px;
  display: flex;
  justify-content: center;
  font-family: var(--font);
  background: #f5f5f5;
}
main {
    width: 800px;
}
.top {
    margin: 5px 0 20px 0;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--card-shadow);
    position: sticky;
    top: 0;
}
.index-btn {
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
    border-radius: 4px;
}
.index-btn:hover {
    background-color: #f5f5f5;
}
input {
    font-family: var(--font);
}
a {
    color: #0072ff;
}
a.link-block {
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    color: #1c8cb7;
    font-weight: normal;
}
code {
    display: inline;
    padding: 1px 3px;
    background-color: #cd3f69;
    color: white;
    border: 1px solid #cd3f69;
    font-family: var(--font);
}
pre {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}
table td {
    padding: 5px 0;
}
.node-header {
    font-size: 1.6rem;
    margin: 30px 0 30px 0;
    background-color: white;
    padding: 20px;
    box-shadow: var(--card-shadow);
    border-radius: 5px;
}
.node-header__type:not(:empty) {
    font-size: 1rem;
    margin-bottom: 3px;
}
/* Search */
.search {
    position: relative;
    flex: 1;
}
.search input {
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    border: none;
    padding: 10px 10px 10px 38px;
    box-sizing: border-box;
}
.search input:focus {
    border-color: #1c8cb7;
    outline: none;
}
.search input::placeholder {
    font-family: var(--font);
}
#search__drop {
    display: none;
    position: absolute;
    top: 100%;
    max-height: 400px;
    overflow: auto;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    border: 1px solid #e5e5e5;
    padding: 10px;
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    box-sizing: border-box;
}
#search__drop mark {
    background-color: #ffe3af;
}
.search__res {
    cursor: pointer;
    padding: 2px 5px;
    text-decoration: none;
    color: black;
    display: block;
    border-radius: 3px;
}
.search__res:hover {
    background-color: #f5f5f5;
}
.search svg {
    position: absolute;
    left: 10px;
    top: 10px;
}
.search svg > * {
    stroke: grey;
}
/* End Search */
/* Sections */
.section {
    background-color: white;
    margin: 20px 0 20px 0;
    padding: 15px;
    box-shadow: var(--card-shadow);
    border-radius: 5px;
}
.section__header {
    color: #1c8cb7;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.section__header:empty {
    display: none;
}
/* End Sections */
/* Nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.nav-btn {
    cursor: pointer;
    padding: 8px 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    box-shadow: var(--card-shadow);
    border-radius: 4px;
    background-color: white;
}
.nav-btn:not(.disabled):hover {
    background: whitesmoke;
}
.nav-btn > svg {
    min-width: 14px;
}
.nav__prev {
    margin-right: 20px;
}
.nav__next {
    margin-left: 20px;
}
.nav__prev > svg, .nav__up > svg {
    margin-right: 10px;
}
.nav__next > svg {
    margin-left: 10px;
}
.nav-btn.disabled {
    pointer-events: none;
    cursor: default;
    color: grey;
}
/* End Nav */
/* Syntax */
.syntax__def {
    margin: 5px 0;
}
.syntax__def-header {
    background-color: #00bf6c;
    color: white;
    display: inline;
    margin-right: 5px;
    padding: 0 5px;
}
.syntax__def-body {
    display: inline;
}
/* End Syntax */
/* Arguments & Values */
.argv-row > code {
    margin-right: 5px;
}
.argv-desc {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}
/* End Arguments & Values */

