/**
 * Inspired by github's default code highlighting
 */
 pre { white-space: pre; background-color: #faf9f9; border: 1px solid #efefef; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
 pre code.hl-highlighted {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
 code.hl-highlighted {margin: 0 2px; padding: 0 5px; white-space: nowrap; background: #f8f8f8; border: 1px solid #eaeaea; border-radius: 3px;}
 
 code.hl-highlighted {color: #008080;}
 code.hl-highlighted .function {color: #008080;}
 code.hl-highlighted .function.known {color: #800603;}
 code.hl-highlighted .function.known.special {color: #2d2d2d; font-weight: bold;}
 code.hl-highlighted .keyword {color: #990073;}
 code.hl-highlighted .keyword.known {color: #990073;}
 code.hl-highlighted .symbol {color: #75a;}
 code.hl-highlighted .lambda-list {color: #966;}
 code.hl-highlighted .number {color: #800;}
 code.hl-highlighted .variable.known {color: #c3c;}
 code.hl-highlighted .variable.global {color: #939;}
 code.hl-highlighted .variable.constant {color: #229;}
 code.hl-highlighted .nil {color: #f00;}
 code.hl-highlighted .list {color: #222;}
 
 code.hl-highlighted .string, code.hl-highlighted .string * {color: #d14 !important;}
 code.hl-highlighted .comment,
 code.hl-highlighted .comment *,
 code.hl-highlighted .comment .string
 code.hl-highlighted .comment .string * {color: #777777 !important;}
 code.hl-highlighted .string .comment {color: #d14 !important;}
 
 code.hl-highlighted .list.active {display: inline-block; background: #aefff7;}
 
 /* Added for simpler dark mode theming, taken from dark.css */
 /* https://github.com/orthecreedence/highlight-lisp/blob/master/themes/dark.css */
  [data-theme="dark"]  pre { white-space: pre; background-color: #2e3032; border: 0px solid #ccc; font-size: 13px; line-height: 19px; overflow: auto; padding: 6px 10px; border-radius: 3px; }
  [data-theme="dark"] pre code.hl-highlighted {white-space: pre; margin: 0; padding: 0; background: none; border: none; overflow-x: auto; font-size: 13px;}
  [data-theme="dark"]  code.hl-highlighted { margin: 0 2px; padding: 0 5px; white-space: nowrap; background: #2e3032; border: 0px solid #ccc; border-radius: 3px;}
  [data-theme="dark"] code.hl-highlighted {color: #c5c8c6;}
  [data-theme="dark"]  code.hl-highlighted .function {color: #abc; color: #cba;}
  [data-theme="dark"]  code.hl-highlighted .function.known {color: #81a2be; color: #91b2ce;}
  [data-theme="dark"]  code.hl-highlighted .function.known.special {color: #ba7; font-weight: bold;}
  [data-theme="dark"]  code.hl-highlighted .keyword {color: #b299ab;}
  [data-theme="dark"]  code.hl-highlighted .keyword.known {color: #b294bb;}
  [data-theme="dark"]  code.hl-highlighted .symbol {color: #c9c;}
  [data-theme="dark"]  code.hl-highlighted .lambda-list {color: #9aa;}
  [data-theme="dark"]  code.hl-highlighted .number {color: #c76;}
  [data-theme="dark"]  code.hl-highlighted .variable.known {color: #9dd;}
  [data-theme="dark"] code.hl-highlighted .variable.global {color: #aaa;}
  [data-theme="dark"]  code.hl-highlighted .variable.constant {color: #a77;}
  [data-theme="dark"]  code.hl-highlighted .nil {color: #de935f;}
  [data-theme="dark"] code.hl-highlighted .list { color: #a3a3a3; }
  [data-theme="dark"]  code.hl-highlighted .string, code.hl-highlighted .string * {color: #b5bd88 !important;}
  [data-theme="dark"]  code.hl-highlighted .comment,
  [data-theme="dark"]  code.hl-highlighted .comment *,
  [data-theme="dark"]  code.hl-highlighted .comment .string
  [data-theme="dark"]  code.hl-highlighted .comment .string * {color: #777 !important;}
  [data-theme="dark"]  code.hl-highlighted .string .comment {color: #b5bd88 !important;}
  [data-theme="dark"]  code.hl-highlighted .list.active {display: inline-block; color: #333; background: #aaa;}
